<!DOCTYPE html>
<html lang="en">
  <head>
    <h1> IT's THE NEW JAY MILLER SHOW! </h1>
    <p> With your host: New Jay Miller </p>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTTP Video Stream</title>
  </head>
  <body>
    <video id="videoPlayer" width="650" controls muted="muted" autoplay>
      <source src="/video_player" type="video/mp4" />
    </video>
  </body>
</html>