<!DOCTYPE html>
<html>
<head>
	<%- include('./partial/head'); %>
</head>
<body>
	<header>
	<%- include('./partial/header'); %>
	</header>

	<!-- placeholder images for links to videos -->
	<!-- need video database connection -->

<div class="row">
  <div class="column">
    <img src="tiger.jpg">
    <img src="water.jpg">
  </div>
  <div class="column">
    <img src="eye.jpg">
    <img src="x.jpg">
  </div>
  <div class="column">
    <img src="medicine.jpg">
  </div>
  <div class="column">
    <img src="finger.jpg">
  </div>
</div>

</body>
</html>
