<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device-width, inital-scale=1.0">
	<title> Recent Uploads</title>
</head>

<body>
	<h1> Video Box </h1>
	<li><a href="/video_player"> recent uploads</a></li>
	<br>
	video library
	<br>
	video managment (content creator only)
	<br>
	<li><a href="/index"> logout </a></li>
	<br>
	
		
</body>
</html>
