<!DOCTYPE html>
<html>
<body>

	<h1>Video Box</h1><br>
<h2>Log in to watch all the videos you want!</h2>

<li><a href = "/login">Login here!</a><li>
<li><a href="/register">Register Here</a</li>
<p></p>

</body>
</html>

