<!DOCTYPE html>
<html>
<head>
	<%- include('./partial/head'); %>
</head>
<body>
	<header>
	<%- include('./partial/header'); %>
	</header>
<h2>User login</h2>

<form action="/login" method="POST">
  <label for="uidBox">Username:</label><br>
  <input type="text" id="uid" name="uid" value=""><br>
  <label for="pwdBox">Password:</label><br>
  <input type="password" id="pwd" name="pwd" value=""><br><br>
  <input type="submit" value="Login">
</form> 

<li><a href="/register">Register Here</a</li>
<p></p>

</body>
</html>
