<!DOCTYPE html>
<html>
<head>
	<%- include('./partial/head'); %>
</head>
<body>
	<header>
	<%- include('./partial/header'); %>
	</header>

<li><a href="/upload">Upload new video</a></li>
<li><a href="/delete">Delete video</a></li>


</body>
</html>
