<nav>
  <div class="site-title">
    <a href="/"><h1>SC</h1></a>
    <p>Software construction course</p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>
