<nav>
  <div class="site-title">
    <a href="/"><h1>Video Box</h1></a>
    <p>The Best Free Videos</p>
  </div>
<div class ="navbar">
    <a href="/">Home</a>
    <a href="/login">Login</a>
	<div class="searchbar">
	<form action="/search" method="POST">
    <input type="text" id="search" name="search" placeholder="Search..">
    <button type="submit">Search</button>
	</form>
	</div>
</div>
</nav>
